{% extends "home.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="static/news-styles.css">
{% endblock %}

{% block content %}
	<section id="title">
		{% include "navigation-bar.html" %}
	</section>

	<section id="news">
		<h1 class="second-biggest-header"> News </h1>
		<div class="row">
			{% for tup in articles: %}
				<div class="card-column col-lg-4">  
					<div class="card" style="width: 18rem;">
  						<img class="card-img-top" src="{{ tup[0] }}" alt="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_187e16ac0ec%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_187e16ac0ec%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
  						<div class="card-body">
    							<h5 class="card-title">{{ tup[1] }}</h5>
   							<p class="card-text">{{ tup[2] }}</p>
							<a href="{{ tup[3] }}">READ MORE >></a>
  						</div>
					</div>
				 </div>
			{% endfor %}
		</div>
	</section>
	
	<section id="footer">
		{% include "footer.html" %}
	</section>
{% endblock %}